@use "variables" as *;
@use "models" as *;

main{
    display: flex;
}

.cart{
    margin: 2rem 0;
    width: 60%;
    background-color: $element-bgd;
    .container{
        padding: 1rem 0 1rem 2rem;
    }
    &-head{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 0 0.4rem;
    }
    .list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.payment{
    margin: 2rem 0;
    width: 40%;
    background-color: $element-bgd;
    .container{
        padding: 1rem 2rem 0rem 3rem;
        display: flex;
        flex-direction: column;
        .price{
            .desc{
                color: $darkened-color;
                font-size: 1rem;
            }
            .price{
                font-size: 1.2rem;
            }
        }
        .purchase{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            .desc{
                margin: 0;
            }
            .price{
                margin: 0 0 2rem;
            }
            .btn{
                margin-bottom: 1rem!important;
            }
        }
    }
}