.container{
    display: flex;
}
main{
    overflow: hidden;
    max-width: 84vw;
    display: inline;
    border-right: 1px solid #286397ba;
    padding: 1rem 0;
}

.adv-space{
    width: 14vw;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}