$news-bgd: #205295;
$prod-bgd: #144272;

.container{
    display: flex;
}
main{
    overflow: hidden;
    width: 80vw;
    display: inline;
    border-right: 1px solid #286397ba;
}

.adv-space{
    width: 18vw;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}