$pri-bgd: #aacff1;
$sec-bgd: #0A2647;
$ter-bgd: #1c5b93;
$element-bgd: #2C74B3;
$element-bgd-hover: #4387c5;
$btn-bgd: #61a4cb;
$btn-bgd-hover: #92c6e5;
$news-main-bgd: #205295;
$border: 1px solid #26537c;
$default-color: #ecf3ff;
$darkened-color: #a6acb7;